body{
	background-color: #d0d5d8 ;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #f2faff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: 3px 3px rgba(165, 154, 154, 0.15);
}


#infPessoais{
	max-width: 250px;
	float: left;
	height: 520px;
}
#infPessoais img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 5%;
}

#redesSociais{
	border-top: 1px solid rgba(0,0,0,.1);
}

#expProfissional{
	float: left;
	width: 67%;
	padding-left: 10px;
}
#skills{
	float: left;
	width: 67%;
	padding-left: 10px;
}
.fab{
	margin-top: 10px;
	color: #6C787F;
}






.timeline {
  display: flex;
  align-items: center;
  height: 450px;
  width: 932px;
}

.event1,
.event2, .event3, .event4 {
  position: relative;
}

.event1Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
    width: 200px;
    height: 114px;
    top: -119px;
    left: -15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}
.event3Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
    width: 255px;
    height: 167px;
    top: -173px;
    left: -215px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}

.event2Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 284px;
  height: 170px;
  left: -105px;
  top: 33px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}
.event4Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 284px;
  height: 170px;
left: -239px;
    top: 45px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}
.event1Bubble span, .event2Bubble span, .event3Bubble span, .event4Bubble span{
  font-size: 12px;
  margin-left: 5%;
}

.event1Bubble:after,
.event1Bubble:before,
.event2Bubble:after,
.event2Bubble:before ,
.event3Bubble:after,
.event3Bubble:before,
.event4Bubble:after,
.event4Bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

.event1Bubble:before {
  bottom: -10px;
  left: 13px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
}


.event2Bubble:before {
  bottom: 170px;
  left: 103px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}



.event3Bubble:before {
  bottom: -10px;
  left: 213px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
}

.event4Bubble:before {
  bottom: 170px;
  left: 248px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.eventTime {
  display: flex;
}

/*.DayDigit {
  font-size: 27px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10px;
  color: #4C4A4A;
}

.Day {
  font-size: 11px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4C4A4A;
}

.MonthYear {
  font-weight: 600;
  line-height: 10px;
  color: #9E9E9E;
  font-size: 9px;
}*/

.eventTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #474e52;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-top: 5px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}


.time {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 8px;
  margin-top: -3px;
  margin-left: -5px;
  color: #9E9E9E;
}

.time2{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 8px;
  margin-top: -37px;
  margin-left: -5px;
  color: #9E9E9E;
}

.agora{
     background-color: #6C787F;
    color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 4px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    font-weight: bold;
    box-shadow: 0 0 0 2px #6C787F
}

.futureGray{
     filter: grayscale(1);
    -webkit-filter: grayscale(1);
  
}

.futureOpacity{
  -webkit-filter: opacity(.3);
  filter: opacity(.3);
  
}